body {
  background-color: #121212;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0 0 50px 0;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav__button {
  color: #ffffff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
}

.nav__button:hover {
  opacity: 0.7;
}

.hero {
  position: relative;
}

.hero__heading {
  text-align: center;
  font-size: 36px;
}

.hero__image {
  opacity: 0.5;
}

.hero__name {
  font-size: 34px;
  color: gold;
}

.hero__description {
  position: absolute;
  top: 300px;
  left: 100px;
  font-size: 28px;
}

.menu__title {
  font-size: 36px;
  margin: 0 0 100px 0;
  text-align: center;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu__description {
  display: flex;
  gap: 25px;
}

.menu__price {
  font-size: 26px;
  margin: 0 0 0 50%;
  align-self: center;
}

.contacts__info {
  display: grid;
  grid-template-columns: 200px 200px;
  row-gap: 30px;
  column-gap: 100px;
  justify-content: center;
}

.contacts__title {
  text-align: center;
  font-size: 36px;
  margin: 0 0 60px 0;
}

.contacts__info a {
  color: gold;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}
